body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    margin: 15px;
    background-color: rgb(0, 220, 62);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px white;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type='submit'] {
    margin-bottom: 15px;
    background-color: rgb(119, 119, 180);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all .5s ease;
}

input[type='submit']:hover {
    background-color: rgb(17, 46, 120);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}

.inline {
    display: flex;
    align-items: center;
    gap: 8px;
}

h2 {
    text-align: center;
    color: white;
}
